<div class="logo-grid">
  <a href="https://www.rsh-duesseldorf.de/"><img alt="Robert Schumann Hochschule-Düsseldorf Logo" src="/assets/images/RSH-Logo.png"></a>
  <a href="https://www.folkwang-uni.de/home"><img alt="Folkwang Universität der Künste Logo" src="/assets/images/logo-folkwang.png"></a>
  <a href="https://www.khm.de/"><img alt="Kunsthochschule für Medien Köln Logo" src="/assets/images/Logo-KHM.png"></a>
  <a href="https://www.hfm-detmold.de/"><img alt="Hochschule für Musik Detmold Logo" src="/assets/images/HfM_Logo_HKS_14N.png"></a>
  <a href="https://www.hfmt-koeln.de/"><img alt="Hochschule für Musik und Tanz Köln Logo" src="/assets/images/HfMT-Logo.png"></a>
  <a href="https://www.uni-koeln.de/"><img alt="Universität zu Köln Logo" src="/assets/images/universitaet_zu_koeln_logo.png"></a>
  <a href="https://itcc.uni-koeln.de/"><img alt="IT Center University of Cologne (ITCC) Logo" src="/assets/images/logo_itcc.svg"></a>
  <!--<a href="https://www.dh.nrw/"><img alt="Digitale Hochschule Logo" src="/assets/images/DH-NRW_Logo_neu.png"></a>-->
  <a href="https://www.hbz-nrw.de/"><img alt="Hochschul-Bibliothekszentrum Nordrhein-Westfalen Logo" src="/assets/images/hbz_logo_gross.gif"></a>
  <a href="https://www.lzv.nrw/"><img alt="Langzeitverfügbarkeit Nordrhein-Westfalen Logo" src="/assets/images/LZV.png"></a>
</div>